@media handheld,only screen and (max-width:767px) {
	.hide-on-mobile	{
		display: none!important;
	}
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 14px;
}

/* header area */

.header {
	background: #fff;
	border-bottom: 3px solid #8DC63F;
	width: 100%;
	height: 90px;
	top: 0;
	left: 0;
	position: relative;
	box-shadow: rgba(0,0,0,0.0976562) 0 5px 5px;
	moz-box-shadow: rgba(0,0,0,0.0976562) 0 5px 5px;
	webkit-box-shadow: rgba(0,0,0,0.0976562) 0 5px 5px;
	font-size: 14px;
}

.header-nav {
	color: #444;
}

.header-nav span.title {
	position: relative;
	top: 35px;
	font-size: 24px;
	font-weight: bold;
	padding-right: 20px;
}

.header-nav span.tag {
	position: relative;
	top: 40px;
	font-size: 14px;
	font-style: italic;
}

.header-nav span.mobile-nav {
	display: none;
	position: relative;
	top: 15px;
}

.header-nav a {
	color: #444;
}

.header-nav ul.nav {
	height: 45px;
}

ul.nav a li {
	display: block;
	float: left;
	height: 15px;
	padding: 15px;
}

ul.nav a:hover li {
	color: #444;
}

ul.nav li:hover {
	background-color: #ccc;
}

ul, ol {
    margin-bottom: 1px;
}

/* reveal area */

.reveal-modal {
	border-bottom: 3px solid ##8DC63F;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.reveal-modal ul {
	color: #444;
	margin-bottom: 0;
	margin-top: 10px;
}

.reveal-modal h4 {
	color: #444;
}

.reveal-modal li {
	border-top: dotted #ddd 1px;
	color: #444;
	margin-bottom: 0;
	padding: 10px;
}

.reveal-modal li a h5 {
	color: #444;
}

.reveal-modal li:hover,.reveal-modal li:hover h5 {
	background-color: #999;
}

.reveal-modal li.current,.reveal-modal li.current h5 {
	background-color: #444;
	color: #fff;
}

/* nav area */

.nav-bar {
	background-color: #eee;
}

ul.sub-nav {
	font-size: 14px;
	margin-top: 3px;
	overflow: hidden;
}

ul.sub-nav a {
	color: #555;
}

ul.sub-nav a:hover
{
	color: #c9025c;
}

ul.sub-nav li {
	display: block;
	float: left;
	margin-right: 10px;
	padding: 5px 30px 0 0;
}

/* content area */
.main-content .margin-room {
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-content {
	margin-top: 30px;
}

.main-content span.title {
	font-size: 20px;
	font-weight: bold;
}

.main-content span.desc {
	padding-right: 100px;
	font-size: 14px;
}

.main-content span.title {
	font-size: 20px;
	font-weight: bold;
}



div.text-center { 
	text-align:center
}

div.side-content { 
	width: 200px;
	min-height:200px;
	height: expression( this.scrollHeight < 200 ? "200px" : "auto" );
	padding: 20px 20px 2px 20px;
	background: #efefef;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	margin: 30px 0 20px 0;
}

.side-content .margin-room {
	margin-top: 5px;
	margin-bottom: 20px;
}

.side-content span.title {
	font-size: 16px;
	font-weight: bold;
}

.main-content span.desc {
	font-size: 12px;
}

.side-content span.action {
	font-size: 18px;
}


/* footer area */

.footer {
	font-size: 13px;
	background-color: #f5f5f5;
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 40px;
}

div.footer-block {
	font-weight: bold;
	margin-top: 10px;
}

.last-row {
	margin: 0 auto;
	max-width: 940px;
	min-width: 727px;
	padding-bottom: 10px;
	width: 100%;
}


@media handheld, only screen and (max-width:767px) {
	.header-nav span.title	{
		font-size: 24px;
		padding-left: 20px;
		top: 20px;
	}

	.header-nav span.tag {
		position: relative;
		top: 30px;
		font-size: 14px;
		font-style: italic;
	}

	.nav-bar {
		background-color: #fff;
	}

	ul.sub-nav {
		border-top: none;
		margin-top: 3px;
	}

	ul.sub-nav li {
		border-bottom: solid 1px #ddd;
		border-top: none;
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		width: auto;
	}
	
	ul.sub-nav li a {
		display: block;
		padding: 4px 8px;
	}
	

	div.footer-block {
		font-size: 14px;
		font-weight: bold;
		margin-top: 10px;
	}

}
